@charset "UTF-8";

/*
   em HTML é id = em CSS é #
   em HTML é class = em CSS é .
*/

body {
    background-color: #a8ff9d;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #1D361A;
}
h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}
.basico {
    color: #118f00;
}
.intermediario {
    color: #a2a500;
}
.avancado {
    color: #ff0000;
}
h2 {
    color: #3F7538;
}
.destaque {
    background-color: rgba(170, 170, 0, 0.671);
}