@charset "UTF-8";

body {
    background-color: rgb(157, 255, 189);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(115, 169, 255);
    background-color: rgb(255, 232, 100);
}
h2 {
    color: rgb(255, 133, 52);
}
p {
    text-align: justify;
}